<?xml version="1.0"
      encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <appSettings>
    <add key="Dobbin" value="D:/Dobbin/Final Output"/>
    <add key="Workflow" value="D:/Workflow-Repository"/>
    <add key="SIPS" value="D:/SIPS"/>
    <add key="Staging" value="D:/Staging"/>
  </appSettings>
</configuration>