<?xml version="1.0"
      encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <appSettings>
    <add key="Dobbin" value="C:\PBC-Data\Dobbin\Final Output"/>
    <add key="Filter" value="*.dobbin.result.xml"/>
    <add key="Workflow" value="C:\PBC-Data\Workflow Repository"/>
    <add key="SIPS" value="C:\PBC-Data\SIPS"/>
    <add key="Staging" value="C:\PBC-Data\Staging"/>
    <add key="Archive" value="C:\PBC-Data\Deep Archive"/>
  </appSettings>
</configuration>